:root {
  --size-default: 0.25rem;
}

body {
  font-family: var(--font-sans);
}

button {
  border-radius: var(--radius-md);
  margin: var(--size-default);
  cursor: pointer;
}

button.small {
  background: none;
  border: none;
  padding: 0;
}